* {
    box-sizing: border-box;
}

body {
    font-family: "Fustat", sans-serif;
}

.banner {
    background-image: url("./img/3d-shape-glowing-with-bright-holographic-colors1.png");
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.banner .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 37px 0 39px;
    height: 101px;
    background-color: #FFFFFF0A;
    backdrop-filter: blur(60px);
    border: 1px solid #FFFFFF45;
    /* margin: 0 250px 0 250px; */
    margin: 0 130px 0 130px;
}

.navbar .logo img {
    width: 266.62px;
    height: 69px;
}

.navbar .right-actions-wraper {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navbar .menu {
    background-color: inherit;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.81px;
    font-family: "Fustat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 229px;
    height: 60px;
    color: #FFFFFF;
    background-color: #FFFFFF0A;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #FBAD1C, #FFFFFF, #FBAD1C);
    border-radius: 10px;
}

.navbar .request-btn img {
    width: 14.14px;
    height: 14.14px;
}

.banner-content-wraper {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content-wraper h1 {
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    margin-bottom: 9px;
}

.banner-content-wraper h1 span {
    color: #FBAD1C;
}

.banner-content-wraper p {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFFA1;
    text-align: center;
    margin: 0 250px 29px 250px;
}

.banner-img-wraper {
    margin-top: 71px;
    width: 100%;
    padding-top: 377px;
    background-image: url("./img/Group-38.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.semicircle-wraper {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    clip-path: ellipse(60% 100% at bottom);
}

.semicircle-wraper img {
    width: 692.21px;
    height: 692.21px;
}
.services-wraper {
    background-color: #1E1E1E;
}
.services-wraper .services-item-wraper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
    background-color: #1E1E1ED4;
    border: 1px solid #FFFFFF33;
    /* transform: rotate(-3deg); */
    transform: skewY(-3deg);

}
.services-wraper .item {
    display: flex;
    align-items: center;
    gap: 20.8px;
}
h2 {
    font: normal 600 58px/70px "Fustat", sans-serif;
    color: #FFFFFF;
}
h3 {
    font: normal 700 38px/80px "Fustat", sans-serif;
    color: #FFFFFF;
}
h4 {
    font: normal 400 20px/37px "Fustat", sans-serif;
}
h5 {
    font: normal 400 18px/30px "Fustat", sans-serif;
}
.line {
    width: 40px;
    height: 2px;
    background: linear-gradient(90deg, #FBAD1C 31.83%, #FFFFFF 58.88%, #1E1E1E 100%);
}
.why-choose-wraper-outer {
    clip-path: ellipse(60% 100% at bottom);
    background-image: linear-gradient(90deg, #FBAD1C 16.68%, #FCC050 44.84%, #FFFFFF 62.55%, rgba(255, 255, 255, 0.6) 77.1%, #1E1E1E 85.03%);;
    border-image-repeat: repeat;
}
.why-choose-wraper-inner{
    padding: 250px 50px 0 50px;
    background-color: #1E1E1E;
    clip-path: ellipse(59% 98% at bottom);
}